.treeContainer {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  flex-grow: 1;
  font-size: 13px;
  height: 100%;
  overflow: visible;
  position: relative;
  user-select: none;
  width: 100%;
}
.treeContainer.dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.treeContainer .tree {
  cursor: pointer;
  position: absolute;
}
.treeContainer .tree .chapter {
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  width: 320px;
}
.treeContainer svg {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: absolute;
  z-index: -1;
}
.treeContainer svg .treeLine {
  fill: none;
  stroke-width: 4px;
}
.lightTheme .tree .chapter {
  background: #8bf;
}
.lightTheme svg .treeLine {
  stroke: #8bf;
}
.darkTheme .tree .chapter {
  background: #125;
}
.darkTheme svg .treeLine {
  stroke: #125;
}
