@import 'params.less';

* {
  box-sizing: border-box;
}

html, body, #root {
	height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: @lineHeight;
  
  font-size: @phoneFontSize;
  @media @desktop {
    font-size: @desktopFontSize;
  }
}
