* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  font-size: 13px;
}
@media (min-width: 960.01px) {
  body {
    font-size: 16px;
  }
}
