.pagePadding {
  padding: 15px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .pagePadding {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .pagePadding {
    padding: 28px 24px;
  }
}
.notSelectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  font-size: 13px;
}
@media (min-width: 960.01px) {
  body {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
a,
a:active,
a:focus {
  outline: none;
}
strong {
  font-weight: bold;
}
