.pagePadding {
  padding: 15px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .pagePadding {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .pagePadding {
    padding: 28px 24px;
  }
}
.notSelectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.figure {
  border-radius: 8px;
  margin: 12px 6px;
  position: relative;
}
.figure .figureCounter {
  font-size: 0.8em;
  position: absolute;
  right: 7px;
  top: 4px;
  user-select: none;
  z-index: 1;
}
.figure .subFigures {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  z-index: 2;
}
.figure .subFigures .subFigure {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  max-width: 800px;
  position: relative;
  width: 100%;
}
.figure .subFigures .subFigure:only-child {
  margin: auto;
}
@media (min-width: 480.01px) {
  .figure .subFigures .subFigure.half {
    width: calc(50% - 6px);
  }
}
@media (max-width: 480px) {
  .figure .subFigures .subFigure.half:not(:last-child) {
    margin-bottom: 12px;
  }
}
.figure .subFigures .subFigure.noAxes svg .axis {
  display: none;
}
.figure .subFigures .subFigure.noNumbers svg .tick text {
  display: none;
}
.figure .subFigures .subFigure.pointer svg,
.figure .subFigures .subFigure.pointer canvas {
  cursor: pointer;
}
.figure .subFigures .subFigure .title {
  font-size: 0.9em;
  margin: 2px auto 14px;
}
.figure .subFigures .subFigure .subFigureInner {
  position: relative;
  width: 100%;
}
.figure .subFigures .subFigure .subFigureInner svg {
  display: block;
  left: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.figure .subFigures .subFigure .subFigureInner svg .tick {
  stroke: currentColor;
}
.figure .subFigures .subFigure .subFigureInner svg .tick line {
  stroke: currentColor;
}
.figure .subFigures .subFigure .subFigureInner svg .domain {
  stroke: currentColor;
}
.figure .subFigures .subFigure .subFigureInner canvas {
  left: 0;
  height: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.figureGuide {
  position: relative;
}
.figureGuide::before {
  content: '';
  height: 100%;
  left: -7px;
  position: absolute;
  top: 0;
  width: 3px;
}
.figureGuide p:last-child {
  margin-bottom: 0;
}
.lightTheme .figure {
  background: #222;
  color: #fff;
}
.lightTheme .figure .figureCounter {
  color: #888;
}
.lightTheme .figureGuide::before {
  background: #d81;
}
.darkTheme .figure {
  background: #070707;
  color: #fff;
}
.darkTheme .figure .figureCounter {
  color: #888;
}
.darkTheme .figureGuide::before {
  background: #d81;
}
