@import '../../shared/params.less';

.figure {
	border-radius: 8px;
	margin: 12px 6px;
	position: relative;

	.figureCounter {
		font-size: 0.9em;
		position: absolute;
		right: 7px;
		top: 4px;
		user-select: none;
		z-index: 1;
	}
	.subFigures {
		align-items: flex-start;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 8px;
		position: relative;
		z-index: 2;

		.subFigure {
			max-width: 800px;
			position: relative;
			width: 100%;

			// If the plot is the only plot in the figure, center it.
			&:only-child {
				margin: auto;
			}
	
			// If there are two plots, each taking up half the space, then we should put them together in landscape mode. In portrait mode, they instead go below each other.
			&.half {
				@media @landscape {
					width: calc(~"50% - 4px");
				}
			}
			@media @phonePortrait {
				&.half:not(:last-child) {
					margin-bottom: 8px;
				}
			}
						
			// Enable various classes providing extra looks/functionalities.
			&.noAxes svg .axis {
				display: none;
			}
			&.noNumbers svg .tick text {
				display: none;
			}
			&.pointer svg, &.pointer canvas {
				cursor: pointer;
			}

			.subFigureInner {
				padding-bottom: 75%;
				width: 100%;

				svg {
					display: block;
					left: 0;
					.notSelectable;
					overflow: visible;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 2;
				
					// Format the D3 axes.
					.tick {
						stroke: #fff; // For the axis tick numbers.
						line {
							stroke: #fff; // For the tick lines.
						}
					}
					.domain {
						stroke: #fff; // For the axes.
					}
				}
		
				canvas {
					left: 0;
					height: 100%;
					.notSelectable;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;
				}
			}
		}
	}
}

.figureGuide {
	position: relative;

	&::before {
		content: '';
		height: 100%;
		left: -7px;
		position: absolute;
		top: 0;
		width: 3px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

// Coloring
.figure {
	background: #070707;
	color: #fff;

	.figureCounter {
		color: #888;
	}
}
.lightTheme {
	.figureGuide {
		&::before {
			background: @lightFigureGuideColor;
		}
	}
}
.darkTheme {
	.figureGuide {
		&::before {
			background: @darkFigureGuideColor;
		}
	}
}