.gpPlot path.mean {
  fill: none;
  stroke: #13f;
  stroke-width: 2;
}
.gpPlot path.sample {
  fill: none;
  stroke-width: 1;
}
.gpPlot path.sample:nth-child(12n+1) {
  stroke: #d22;
}
.gpPlot path.sample:nth-child(12n+2) {
  stroke: #dd2;
}
.gpPlot path.sample:nth-child(12n+3) {
  stroke: #2dd;
}
.gpPlot path.sample:nth-child(12n+4) {
  stroke: #d2d;
}
.gpPlot path.sample:nth-child(12n+5) {
  stroke: #2d2;
}
.gpPlot path.sample:nth-child(12n+6) {
  stroke: #ddd;
}
.gpPlot path.sample:nth-child(12n+7) {
  stroke: #d82;
}
.gpPlot path.sample:nth-child(12n+8) {
  stroke: #2d8;
}
.gpPlot path.sample:nth-child(12n+9) {
  stroke: #82d;
}
.gpPlot path.sample:nth-child(12n+10) {
  stroke: #8d2;
}
.gpPlot path.sample:nth-child(12n+11) {
  stroke: #28d;
}
.gpPlot path.sample:nth-child(12n+0) {
  stroke: #d28;
}
.gpPlot circle.measurement {
  fill: #e53;
}
