html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.app.lightTheme {
  background: #eee;
  color: #212121;
}
.app.darkTheme {
  background: #212121;
  color: #fff;
}
