.app {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	height: 100%;
	
	&.lightTheme {
		background: #eee;
		color: #212121;
	}
	&.darkTheme {
		background: #212121;
		color: #fff;
	}
}
