.page .settings p.addedNote {
  font-size: 0.85em;
  margin: 6px 4px 10px 8px;
}
.page .settings p.addedNote.offlineUseStatus {
  max-height: 20px;
  overflow: hidden;
  transition: max-height 0.4s, margin 0.4s;
}
.page .settings p.addedNote.offlineUseStatus.empty {
  margin-bottom: -3px;
  margin-top: -3px;
  max-height: 0;
}
