@import '../../shared/params.less';

.page {
	align-self: stretch;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	overflow: hidden;

	.content {
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;
		margin: auto;
		max-width: @maxWidth;
		width: 100%;

		padding: 20px 8px;
		@media @phoneLandscape {
			padding: 20px 16px;
		}
		@media @desktop {
			padding: 28px 24px;
		}

		h1 {
			font-weight: bold;
			margin: 32px 0 24px 0;
			
			font-size: 1.9em;
			@media @landscape {
				font-size: 1.9em;
			}
		}

		h2 {
			font-weight: bold;
			margin: 24px 0 16px 0;
			
			font-size: 1.7em;
			@media @landscape {
				font-size: 1.7em;
			}
		}

		h3 {
			font-weight: bold;
			margin: 16px 0 10px 0;
			
			font-size: 1.4em;
			@media @landscape {
				font-size: 1.4em;
			}
		}

		p {
			margin: 6px 0 10px;
		}

		h1, h2, h3, p {
			&:first-child {
				margin-top: 0;
			}
		}
	}
}