.page {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow: hidden;
}
.page .content {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .page .content {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .page .content {
    padding: 28px 24px;
  }
}
.page .content h1 {
  font-weight: bold;
  margin: 32px 0 24px 0;
  font-size: 1.9em;
}
@media (min-width: 480.01px) {
  .page .content h1 {
    font-size: 1.9em;
  }
}
.page .content h2 {
  font-weight: bold;
  margin: 24px 0 16px 0;
  font-size: 1.7em;
}
@media (min-width: 480.01px) {
  .page .content h2 {
    font-size: 1.7em;
  }
}
.page .content h3 {
  font-weight: bold;
  margin: 16px 0 10px 0;
  font-size: 1.4em;
}
@media (min-width: 480.01px) {
  .page .content h3 {
    font-size: 1.4em;
  }
}
.page .content p {
  margin: 6px 0 10px;
}
.page .content h1:first-child,
.page .content h2:first-child,
.page .content h3:first-child,
.page .content p:first-child {
  margin-top: 0;
}
