.pagePadding {
  padding: 15px 8px;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .pagePadding {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .pagePadding {
    padding: 28px 24px;
  }
}
.notSelectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.page {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
.page .pageFader {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  position: relative;
  width: 100%;
}
.page .pageFader > div {
  padding: 15px 8px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
@media (min-width: 480.01px) and (max-width: 960px) {
  .page .pageFader > div {
    padding: 20px 16px;
  }
}
@media (min-width: 960.01px) {
  .page .pageFader > div {
    padding: 28px 24px;
  }
}
.page .pageFader > div.pageFade-appear {
  opacity: 0.01;
}
.page .pageFader > div.pageFade-appear.pageFade-appear-active {
  opacity: 1;
  transition: opacity 0.2s;
}
.page .pageFader > div.pageFade-enter {
  opacity: 0.01;
}
.page .pageFader > div.pageFade-enter.pageFade-enter-active {
  opacity: 1;
  transition: opacity 0.2s;
}
.page .pageFader > div.pageFade-leave {
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}
.page .pageFader > div.pageFade-leave.pageFade-leave-active {
  opacity: 0.01;
  transition: opacity 0.2s;
}
.page .pageFader h1 {
  font-weight: bold;
  margin: 32px 0 24px 0;
  font-size: 1.9em;
}
@media (min-width: 480.01px) {
  .page .pageFader h1 {
    font-size: 1.9em;
  }
}
.page .pageFader h2 {
  font-weight: bold;
  margin: 24px 0 16px 0;
  font-size: 1.7em;
}
@media (min-width: 480.01px) {
  .page .pageFader h2 {
    font-size: 1.7em;
  }
}
.page .pageFader h3 {
  font-weight: bold;
  margin: 16px 0 10px 0;
  font-size: 1.4em;
}
@media (min-width: 480.01px) {
  .page .pageFader h3 {
    font-size: 1.4em;
  }
}
.page .pageFader p {
  line-height: 1.42857143;
  margin: 6px 0 10px;
}
.page .pageFader h1:first-child,
.page .pageFader h2:first-child,
.page .pageFader h3:first-child,
.page .pageFader p:first-child {
  margin-top: 0;
}
.lightTheme .success {
  color: #262;
}
.lightTheme .error {
  color: #922;
}
.darkTheme .success {
  color: #484;
}
.darkTheme .error {
  color: #a33;
}
